body{
    background-image: url("images/back-image.jpg");
    background-size: cover;
    padding: 0;
    margin: 0;
}

button {
    width: 100px;
    height:50px;
    border-radius: .5;
   
    color: #17a2b8
}
#articles{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.navbar{
    margin-bottom: 10%;
}

jumbotron{
    text-align: center;
}
#artDiv {
    width: 100%;
    margin: 5px ; 
}


