body{
    background-image: url("images/back-image.jpg");
    background-size: cover;
    padding: 0;
    margin: 0;
}

button {
    width: 100px;
    height:50px;
    border-radius: .5;
   
    color: #17a2b8
}
#articles{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.navbar{
    margin-bottom: 10%;
}

jumbotron{
    text-align: center;
}
#artDiv {
    width: 100%;
    background-color: aliceblue;
    opacity: 0.6;
    border: 3px outset lightslategray;
    margin: 5px 0 5px 0;
    height: 6em;
    padding-top: 2em;
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    /* margin-top: 5.0em; */
}

h1{
    color: grey;
    padding-bottom: 5px;


}

